body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
    
}

nav {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0;
    padding: 20px;
    border: 0;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#input_area {
    position: relative;
    top: 14vh;
    left: 6vw;
        
}

#main_text {
    display: inline-block;
    font-weight: bold;
    font-size: 7.5em;
    line-height: 1.1em;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9), 0 0 6px rgba(255, 255, 255, 0.9), 0 0 10px rgba(255, 255, 255, 0.9);

}

#game {
    color: white;
    background-color: black;
    font-size: 7.5em;
    font-weight: bold;
    white-space: nowrap; 
    overflow-x: hidden; 
    vertical-align: top;
    border: none;
    outline: none;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    max-width: 652px;
    bottom: 15px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9), 0 0 6px rgba(255, 255, 255, 0.9), 0 0 10px rgba(255, 255, 255, 0.9);

}


#game::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
}

#game::placeholder {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9), 0 0 6px rgba(255, 255, 255, 0.9), 0 0 10px rgba(255, 255, 255, 0.9);

    color: white; /* Change the color of the placeholder text */
}


.suggestions {
    position: absolute;
    width: 40vw;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    display:flex;
    flex-direction: column; 

}

.suggestion-item {
    display: block;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item:hover {
    background-color: #fff;
    color: black;
}

#game_suggestions {
    max-height: none;
}

#user_info_toggle_button svg {
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}


#user_info_toggle_button:hover {
    text-decoration: underline;
}

#user_info_toggle_button.clicked svg {
    transform: scaleY(-1); 
}

.loading {
    position: absolute;
    width: 40vw;
    height: 50px;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


#game_loading,
#game_suggestions {
    z-index: 1;
    position: absolute;
    width: fit-content;
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5em;
    font-weight: bold;
    left: 430px;
}

#game_loading{
    left: 500px;
    width: 100%;
    height: 100%;
    border: none;
}

#game_loading::-webkit-scrollbar{
    display: none;
}

#cpu, #gpu, #ram{
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    font-family: 'Roboto Mono', monospace;

}

#cpu::placeholder, #gpu::placeholder, #ram::placeholder{
    color: white;
}

#user_info_input_area{
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;

}

input[type="submit"] {
    position: absolute;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    border: none;
    font-size: 3em;
    left: 890px; 
    top: 270px;
    cursor: pointer;

}

#gpu_suggestions, #cpu_suggestions{
    font-family: 'Roboto Mono', monospace;
    left: 100px;
}
#cpu_loading, #gpu_loading{
    left: 100px;
}
#cpu_loading img, #gpu_loading img{
    width: 50px;
    height: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}


.background_character {
    position: fixed;
    top: 360px;
    left: 1200px;
    width: 550px;
    height: 550px;
    background-image: url('/images/character.png');
    background-size: cover;
    z-index: -1;
    transform: rotate(-10deg);
}

.background_hill {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/hill.png');
    background-size: cover;
    z-index: -2;
}