<div id="inputs">
    <form action="/compare" method="post">
        <label for="game">Game</label><br />
        <input
            type="text"
            id="game"
            name="game"
            placeholder="Enter Name of the Game here"
            value=""
            autocomplete="off"
            autofocus="on"
            oninput="getSuggestions('game', this.value)"
        />
        <div class="loading" id="game_loading" style="display:none">
            <img src="/images/loading.svg" alt="Loading..." />
        </div>
        <div id="game_suggestions" class="suggestions" style="display:none">
        </div>

        <br />
        <label for="cpu">User CPU</label><br />
        <input
            type="text"
            id="cpu"
            name="cpu"
            placeholder="Enter your CPU here"
            value=""
            autocomplete="off"
            oninput="getSuggestions('cpu', this.value)"
        />
        <div class="loading" id="cpu_loading" style="display:none">
            <img src="/images/loading.svg" alt="Loading..." />
        </div>
        <div id="cpu_suggestions" class="suggestions" style="display:none">
        </div>
        
        <br/>
        <label for="gpu">User GPU</label><br />
        <input
            type="text"
            id="gpu"
            name="gpu"
            placeholder="Enter your GPU here"
            value=""
            autocomplete="off"
            oninput="getSuggestions('gpu', this.value)"
        />
        <div class="loading" id="gpu_loading" style="display:none">
            <img src="/images/loading.svg" alt="Loading..." />
        </div>
        <div id="gpu_suggestions" class="suggestions" style="display:none">
        </div>
        
        <br />
        <label for="ram">User RAM</label><br />
        <input
            type="text"
            id="ram"
            name="ram"
            placeholder="Enter your RAM here"
            value=""
            autocomplete="off"
        />
        
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>