<div id="inputs">
    <form action="/compare" method="post">
        <label for="game_name">Game</label><br />
        <input
            type="text"
            id="game_name"
            name="game_name"
            placeholder="Enter Name of the Game here"
            value=""
            autocomplete="off"
            autofocus="on"
            oninput="toggleLoading(game_name_loading)"
        />
        <div class="loading" id="game_name_loading" hidden>
            <img src="/images/loading.svg" alt="Loading..." />
        </div>
        <br />
        <label for="user_cpu">User CPU</label><br />
        <input
            type="text"
            id="user_cpu"
            name="user_cpu"
            placeholder="Enter your CPU here"
            value=""
            onchange="onChange(event)"
            onfocus="setCpuFocused(true)"
            onblur="onCpuBlurDelay()"
            autocomplete="off"
        />
        <div class="loading">
            <img src="/images/loading.svg" alt="Loading..." />
        </div>
        <br />
        <label for="user_gpu">User GPU</label><br />
        <input
            type="text"
            id="user_gpu"
            name="user_gpu"
            placeholder="Enter your GPU here"
            value=""
            onchange="onChange(event)"
            onfocus="setGpuFocused(true)"
            onblur="onGpuBlurDelay()"
            autocomplete="off"
        />
        <div class="loading">
            <img src="/images/loading.svg" alt="Loading..." />
        </div>
        <br />
        <label for="user_ram">User RAM</label><br />
        <input
            type="text"
            id="user_ram"
            name="user_ram"
            placeholder="Enter your RAM here"
            value=""
            onchange="onChange(event)"
            autocomplete="off"
        />
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>