<h1>Can It Run?</h1>

{{!-- convert previouse code into this --}}
<form action="/check" method="post">
  <label for="gameName">Enter Game Name:</label>
  <input type="text" id="gameName" name="gameName" required>
  <button type="submit">Check Compatibility</button>
</form>


<form action="/submit-specs" method="post">
  <label for="specs">Enter Computer Specs:</label>
  <textarea id="specs" name="specs" rows="4" required></textarea>
  <button type="submit">Submit Specs</button>
</form>


<img src="/images/logo.jpeg" alt="">

