<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheet/main.css">
    <script src="/scripts/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap" rel="stylesheet">
    <title>Can It Run?</title>
</head>
<body>
    {{!-- navigator --}}
    <div id="page-container">
        <h1>Testing Page</h1>
        {{{body}}}
    </div>
    {{!-- footer --}}
</body>
</html>

