    {{game_info}}

    {{#if result}}
        <p>{{result}}</p>
    {{else}}
        <p>Error retrieving compatibility result.</p>
    {{/if}}

    {{#if user_info}}
    <p>{{user_info}}</p>
    {{/if}}
<script>
    // get game info and show user's info if there are
    
</script>
